.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 80px;
  color: #aeaeae;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
