.todo-li {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  color: var(--text-dark);
  width: fit-content;
  cursor: pointer;
}

.todo-li svg {
  height: 26px;
  flex-shrink: 0;
}

.done {
  color: var(--text-light);
  text-decoration: line-through;
  text-decoration-thickness: 1.4px;
}
