.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
  /* height: calc(100% - 16px); */
  height: 100%;
  min-height: 480px;
  padding-bottom: 16px;
}

@media (max-width: 768px) {
  .container {
    height: 100%;
    padding-right: 0;
    padding-bottom: 80px;
  }

  .list {
    padding-right: 0;
  }
}
