.container {
  width: 100%;
  padding: 0 16px;
}

.img {
  width: 100%;
  height: auto;
}

.title {
  font-size: 32px;
  line-height: 48px;
  padding: 16px 0;
  color: #333;
}

.content {
  padding: 16px 0;
  line-height: 32px;
  color: #666;
}
