.callout {
  background: transparent;
  padding: 24px 32px;
  margin-bottom: 16px;
  border: 1.6px solid var(--border-base);
  border-radius: 24px;
  position: relative;
  padding-right: 64px; /* 버튼에 가리지 않게 */
  flex-shrink: 0;
}

.content {
  overflow-y: hidden;
  max-height: 80px;
  height: fit-content;
}

.open {
  min-height: 28px;
  max-height: max-content;
  height: fit-content;
}

.toggle button {
  padding: 4px 8px;
  background: transparent;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  position: absolute;
  bottom: 12px;
  right: 16px;
}
