.react-calendar {
  max-width: 360px;
  background: transparent;
  border: 1.6px solid var(--border-base);
  border-radius: 32px;
  padding: 32px;
  font-weight: 500;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Afacad';
}

.react-calendar button {
  padding: 12px 0;
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  background: transparent;
  font-size: 16px;
  color: var(--text-gray);
  font-weight: 500;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation button:disabled {
  background: transparent;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: transparent;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 16px;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 16px;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend * {
  color: var(--primary2);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 0;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 16px;
  color: var(--text-base);
}

.react-calendar__tile abbr {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 32px;
  height: 32px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: transparent;
}

.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus abbr {
  background: var(--hover-white);
  border-radius: 100%;
}

.react-calendar__tile--now {
  background: transparent;
}

.react-calendar__tile--now abbr {
  background: var(--background-light-gray);
  color: var(--text-base);
  border-radius: 100%;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: transparent;
}

.react-calendar__tile--active {
  background: transparent;
}

.react-calendar__tile--active abbr {
  background: var(--button-black);
  border-radius: 100%;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: transparent;
}

.react-calendar__tile--active:enabled:hover abbr,
.react-calendar__tile--active:enabled:focus abbr {
  background: var(--button-black);
  border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .react-calendar {
    max-width: 100%;
    width: 100%;
  }
}
