.react-calendar {
  max-width: 360px;
  background: transparent;
  border: 1.6px solid #f4f4f4;
  border-radius: 32px;
  padding: 32px;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Afacad';
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  background-color: transparent;
  font-size: 16px;
  color: #666;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation button:disabled {
  background-color: transparent;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: transparent;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 16px;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 16px;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d85959;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #c7c7c7;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 0;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 16px;
}

.react-calendar__tile abbr {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 16px 0;
  width: 32px;
  height: 32px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: transparent;
}

.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus abbr {
  background-color: #efefef;
  border-radius: 100%;
}

.react-calendar__tile--now {
  background: transparent;
}

.react-calendar__tile--now abbr {
  background: #f4f4f4;
  color: #111;
  border-radius: 100%;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: transparent;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: transparent;
}

.react-calendar__tile--active abbr {
  background: #111;
  border-radius: 100%;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: transparent;
}

.react-calendar__tile--active:enabled:hover abbr,
.react-calendar__tile--active:enabled:focus abbr {
  background: #111;
  border-radius: 100%;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background: transparent;
}

.react-calendar--selectRange .react-calendar__tile--hover abbr {
  background-color: #e6e6e6;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .react-calendar {
    max-width: 100%;
    width: 100%;
  }
}
